# Database
DATABASE_URL=postgresql://...

# Better Auth
BETTER_AUTH_SECRET=MfZc...
BETTER_AUTH_URL=http://localhost:3000 # Change this to your Better Auth instance URL if different

# Inngest
INNGEST_APP_ID=my-app

# AI
GOOGLE_GENERATIVE_AI_API_KEY=AIza...

# Redis
REDIS_URL=

# Sentry
SENTRY_AUTH_TOKEN=sntrys_ey...

# Polar
POLAR_ACCESS_TOKEN=polar_oat_bH...
POLAR_SUCCESS_URL=http://localhost:3000 # Change this to your Better Auth instance URL if different
POLAR_SERVER=sandbox # Change this to the actual polar server. "sandbox" is for testing payments